$primary-color: #3498db;
$background-color: green;
$text-color: white;
$score-color: black;
$cube-size: 100px;
$cube-border: 4px solid white;
$cube-opacity: 0.85;
$font-size: 1.5em;
$button-width: 150px; // Fixed button width
$button-height: 50px; // Fixed button height
$dark-grey: #333;
